html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
    background: rgba(black, 0.66);
  }
  
  #fons {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
  }
 
  .centered-text {
   position: absolute;
   bottom: 5px; 
   left: 50%;
   transform: translateX(-50%);
   color: white;
   size: 10%;
   opacity: 40%;
 
 }
 .fade-out-image {
   transition: opacity 2s ease-in-out;
 }
 
 .fade-out {
   opacity: 0;
 }
  
  .viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    line-height: 1.2;
    font-size: 4vw;
    text-align: center;
  }
  
  .main h1 span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    max-width: 100%;
  }
  
  .navbar-brand {
    font-size: 13px;
    margin-right: 10px;
  }
  .navbar.fixed-top + #navbar-placeholder {
    display: block; 
 }
 
 #navbar-placeholder {
    height: 56.5px; 
    display: none; 
 }
  
  .scroll-line-container {
    text-align: center;
    position: relative;
  }
  
  .scroll-line {
    width: 0;
    height: 2px;
    background-color: #fdf7ff;
    margin: 20px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 2.5s;
    max-width: 80%;
  }
  
  .translucent-background {
    background-color: rgba(0, 0, 0, 0.94);
 
  }
  
.tour-dates-list {
    padding: 10px; 
    padding-top: 50px; 
    border-radius: 12px;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .tour-dates-list h4 {
    margin-bottom: 60px;
   color: white;
   border-bottom: 2px solid #963dba;
   margin-right: 90px;
}
 
 .tour-date {
    margin-bottom: 25px; 
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    padding-left: 10px;
    border-top: 1px solid #ffffff; 
    border-bottom: 1px solid #ffffff; 
    padding-top: 5px; 
    padding-bottom: 5px;
    max-width: 89%;
 }
 
 .tour-date p {
    color: white;
    margin: 2px 0; 
    font-size: 14px; 
 }
 
 .btn-purple {
    background-color: #963dba;
    color: white;
    border: none;
    padding: 3px 8px; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 12px; 
 }
 
  .glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
 
 .glitch {
   position: relative;
   font-size: 47px;
   color: #FFFFFF;
   letter-spacing: 3px;
   z-index: 1;
 }
 
 .glitch:before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: 47px;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
 }
 
 .glitch:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: 47px;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
 }


 
 @keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }
   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }
   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }
   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }
   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }
   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }
   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }
   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }
   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }
   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }
   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }
   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }
   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }
   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }
   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }
   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }
   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }
   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }
   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }
   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }
   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
 }
 
 @keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }
   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }
   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }
   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }
   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }
   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }
   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }
   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }
   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }
   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }
   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }
   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }
   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }
   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }
   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }
   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }
   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }
   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }
   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }
   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }
   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
 }
 
 